@model ProductStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "ProductStore: ваша корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2 class="text-white">Ваша корзина</h2>
<table class="table" id="cartTable">
    <thead>
        <tr>
            <th class="text-white">Кол-во</th>
            <th class="text-white">Продукт</th>
            <th class="text-right text-white">Цена</th>
            <th class="text-right text-white">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center text-white text-outline">@line.Quantity</td>
                <td class="text-left text-white text-outline">@line.Guitar.Name</td>
                <td class="text-right text-white text-outline">@line.Guitar.Price.ToString("# леев")</td>
                <td class="text-right text-white text-outline">
                    @((line.Quantity * line.Guitar.Price).ToString("# леев"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Guitar.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right text-white text-outline">Итого:</td>
            <td class="text-right">
                <span class="text-white text-outline">@Model.Cart.ComputeTotalValue().ToString("# леев")</span>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>